/* =============================================================================
   App specific CSS file.
   ========================================================================== */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-bottom: 0;
}

main {
    flex: 1 0 auto;
}

nav#main-nav {
    position: fixed;
    top: 0;
    z-index: 9999;
}

aside#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 10%;
    /* padding-top: 64px;*/
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 99999;
}

.grid-sizer, .grid-item {
    width: 100% !important;
}

@media screen and (min-width: 992px) {
    .grid-sizer, .grid-item {
        width: 50% !important;
    }
}

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.search-icon-close {
    margin-top: .5rem;
}

.card-image img {
    padding: 2rem 0 0 1rem;
}

.card {
    padding: 0;
}