/* =============================================================================
   App specific CSS file.
   ========================================================================== */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-bottom: 0;
}

main {
    flex: 1 0 auto;
}

nav#main-nav {
    position: fixed;
    top: 0;
    z-index: 10;
}

aside#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 5%;
    /* padding-top: 64px;*/
    background-image: url('../img/background4.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 10;
}

.grid-sizer, .grid-item {
    width: 100% !important;
}

@media screen and (min-width: 992px) {
    .grid-sizer, .grid-item {
        width: 50% !important;
        z-index: 0;
    }
}

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.search-icon-close {
    margin-top: .5rem;
}

.card-image img {
    padding: 2rem 0 0 1rem;
}

.card {
    padding: 0;
}

.navigation {
    display: none;
}

.preloader-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
}

.input-field label:not(.label-icon).active {
    top: 0;
}

.user-name {
    position: relative;
    padding-right: 30px;
    float: left;
}

.verified-user {
    position: absolute;
    right: 8px;
    top: 5px;
    height: 20px;
    width: 20px;
    background: #03a9f4;
    color: #fff;
    border-radius: 10px;
}

.verified-user i {
    position: absolute;
    font-size: 1rem;
    top: 3px;
    right: 3px;
}

.material-icons.neu {
    color: #ccc;
}

.material-icons.pos {
    color: #66bb6a;
}

.material-icons.neg {
    color: #ef5350;
}

.modal.bottom-sheet {
    max-height: 100%;
}

