<nav id="main-nav" class="white col s4" role="navigation">
    <div class="nav-wrapper">
        <a href="{{ url_for('public.home') }}" class="brand-logo">Donald Tweets</a>
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('public.about') }}">About</a></li>
        </ul>
        <ul class="side-nav" id="mobile">
            <li><a href="{{ url_for('public.about') }}">About</a></li>
        </ul>
    </div>
</nav>
